@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Nico Moji';
    src: url('../public/fonts/NicoMoji/NicoMoji-Regular.ttf') format('truetype');
}

* {
    font-family: 'Nico Moji';
}

body {
    margin: 0;
    font-family: 'Nico Moji';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer utilities {
     ::placeholder {
        margin-left: 10px;
        font-family: "Arial";
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.4px;
    }
}

.text-stroke {
    -webkit-text-stroke: 1px black;
    color: white;
    border-color: black;
}