@tailwind base;
@tailwind components;
@tailwind utilities;

/* ////// */

@font-face {
    font-family: 'Russo One';
    src: url('../public/fonts/RussoOne/RussoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Regular';
    font-weight: 400;
    src: url('../public/fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Bold';
    font-weight: 700;
    src: url('../public/fonts/Inter/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Black';
    font-weight: 900;
    src: url('../public/fonts/Inter/Inter-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter ExtraBold';
    font-weight: 800;
    src: url('../public/fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter ExtraLight';
    font-weight: 200;
    src: url('../public/fonts/Inter/Inter-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../public/fonts/Inter/Inter-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Medium';
    font-weight: 500;
    src: url('../public/fonts/Inter/Inter-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter SemiBold';
    font-weight: 600;
    src: url('../public/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Thin';
    font-weight: 100;
    src: url('../public/fonts/Inter/Inter-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Nico Moji';
    src: url('../public/fonts/NicoMoji/NicoMoji-Regular.ttf') format('truetype');
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer utilities {
    input::placeholder {
        padding: 5px 10px;
        margin-left: 10px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.4px;
    }
}

.text-stroke {
    -webkit-text-stroke: 1px black;
    color: white;
    border-color: black;
}

h1 {
    font-family: "Russo One";
    font-size: 30px;
    color: #1C3FB7
}

input:focus {
    /* remove focus */
    outline: none;
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    color: "#F27430";
    width: 1.05em;
    height: 1.05em;
    border: 0.10em solid #F27430;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    margin-top: 2.5px;
    vertical-align: middle;
}

input[type="radio"]::before {
    content: "";
    width: 0.45em;
    height: 0.45em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #F27430;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.arrow-left::before {
    content: '\00AB';
    /* Left-pointing double angle quotation mark */
    margin-right: 3rem;
    font-weight: bold;
    font-size: 3rem;
}

.arrow-right::after {
    content: '\00BB';
    /* Right-pointing double angle quotation mark */
    margin-left: 3rem;
    font-weight: bold;
    font-size: 3rem;
}

.circle-number {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.rect-background {
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

@media(max-width: 500px) {
    .mobile-email-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.inner-shadow {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

input:focus {
    outline: none;
}

.phone-input {
    outline: none;
}

.phone-input:focus {
    outline: none;
}

.text-logo {
    font-family: "Russo One";
    font-size: 57px;
    font-weight: 900;
    color: #A5B9F9;
    /* stroke */
    -webkit-text-stroke: 2px white;
    text-shadow: 1px 2px 2px white;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 0.8;
    transform: scale(0.95, 1.08);
}

.text-logo-moto {
    font-family: "Russo One";
    font-size: 12px;
    color: white;
    /* stroke */
    /* -webkit-text-stroke: 1px white; */
    /* text-shadow: 1px 1px 1px white; */
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: right;
    padding-right: 14px;
}

.text-small-logo {
    font-family: 'Russo One';
    font-size: 32px;
    font-weight: 900;
    color: #1C3FB7;
    transform: scale(1.2, 1.12);
    letter-spacing: -0.5px;
    /* stroke */
    -webkit-text-stroke: 1.5px white;
}


/* input file edit */

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon {
    position: absolute;
    left: 10px;
    fill: #ccc;
}

textarea:focus {
    outline: none;
}

input::placeholder, textarea::placeholder {
    font-size: 16px;
}

input {
    font-size: 16px !important;
  }

.Toastify__close-button {
    display: none !important;
}